.Rproj.user
.Rhistory
.RData
.Ruserdata
#less desired files
*.html
*.db-shm
*.db-wal
*.bak
*.xlsx
*.db
*.sqlite3
temp*
test*
#notebook checkout points
.ipynb_check*
#dir
Data/
03processed-data/
05figures/

.drake/
