.Rproj.user
.Rhistory
.RData
.Ruserdata
#less desired files
*.html
*.db-shm
*.db-wal
*.bak
*.xlsx
*.db
*.sqlite3
temp*
test*
*.txt
*.csv
*.pdf
*.png


#notebook checkout points
.ipynb_check*
*CloseSimDBs.ipynb

#dir
Data/
.drake/
.drake_history/
03processed-data/apsimxFiles/*